@import 'src/styles/helpers';

.box_resultsPage {
  .body_content {
    .content_description {
      margin-top: px-to-rem(20);
      text-align: center;
    }

    .tiles_listing {
      list-style: none;
      padding-left: 0;
      justify-content: center;
      flex-wrap: wrap;
      display: flex;
    }
  }
}
