@import 'src/styles/helpers';

.box_appLayout {
  display: grid;
  grid-template-rows: px-to-rem(60) auto;
  min-height: 100vh;

  .box_appHeader {
    grid-row-start: 1;
    display: flex;
    box-shadow: 0 px-to-rem(4) px-to-rem(3) px-to-rem(-4) grey;
  }

  .box_appBody {
    grid-row-start: 2;
    display: inline-grid;
    grid-template-columns: px-to-rem(20) auto px-to-rem(20);

    .body_content {
      grid-column-start: 2;
    }
  }
}
